<div class="task">
    <div class="task-upper">
        <div class="task-tags" data-field="task-tags">
            <!--<% _.each( task.tags, function( taskTag ) {-->
            <!--var current = _.find( tags, function(tag) { return tag.id == taskTag; }) || {};-->
            <!--swatchClass = current.style || "",-->
            <!--swatchTitle = current.title || "" %>-->
            <div rel="tooltip" class="swatch <%= swatchClass %>" title="<%= swatchTitle %>"></div>
        </div>
        <div class="task-date" data-field="task-date">
            2013-12-10
        </div>
        <div class="task-title" data-field="title">
            Buy something nice for the kids
        </div>
    </div>
    <hr>
    <div class="task-desc" data-field="task-desc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
    <div class="option-overlay" data-field="overlay">
        <div class="col">
            <a class="btn edit" title="Edit" data-field="edit"><i class="icon-edit"></i><span class="btn-txt">Edit</span></a>
        </div>
        <div class="col">
            <a class="btn delete" title="Delete" data-field="delete"><i class="icon-remove"></i><span class="btn-txt">Delete</span></a>
        </div>
    </div>
</div>
