*.iml
.idea/*
*/.idea/*
.classpath
.project
.settings
.metadata/*
.gwt-tmp/
target/
bin/
classes/
data
deploy/
.errai/
.DS_Store
*.releaseBackup
*.versionsBackup
release.properties
*.log
.gwt
/war/WEB-INF/classes/
/errai-bus/war/WEB-INF/classes/
/errai-ioc/war/WEB-INF/classes/
/errai-tools/war/
*/**/war/AsyncDemo/
*/**/war/ClientService/
*/**/war/HelloWorld/
*/**/war/QueryService/
*/**/war/RPCDemo/
*/**/war/Serialization/
*/**/war/StockDemo/
*ErraiBusTests.JUnit/
*.JUnit/
gwt-unitCache/
class_list.txt
*.jpage
.factorypath
dependency-reduced-pom.xml
.vscode
