*.iml
/.idea/*
.classpath
.project
.settings
.metadata/*
.gwt-tmp/
target/
classes/
tomcat/
deploy/
.errai/
.DS_Store
*.releaseBackup
release.properties
*.log
.gwt
/war/
/errai-bus/war/
/errai-ioc/war/
/errai-tools/war/
*/**/war/AsyncDemo/
*/**/war/ClientService/
*/**/war/HelloWorld/
*/**/war/QueryService/
*/**/war/RPCDemo/
*/**/war/Serialization/
*/**/war/StockDemo/
*ErraiBusTests.JUnit/
