<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
      http://java.sun.com/xml/ns/javaee/beans_1_0.xsd">
  <scan>
    <!-- These exclusions were added by Errai to avoid deploying client-side classes to the server -->
    <exclude name = "org.jboss.errai.jsinterop.demo.client.local.IpsumListDisplay" />
    <exclude name = "org.jboss.errai.jsinterop.demo.client.local.AppSetup" />
    <exclude name = "org.jboss.errai.jsinterop.demo.client.local.IpsumService" />
    <exclude name = "org.jboss.errai.jsinterop.demo.client.local.IpsumDescriptorDisplay" />
    <exclude name = "org.jboss.errai.jsinterop.demo.client.local.LoremIpsumGenerator" />
    <exclude name = "org.jboss.errai.jsinterop.demo.client.local.IpsumServiceImpl" />
    <exclude name = "org.jboss.errai.jsinterop.demo.client.local.IpsumDescriptor" />
    <!-- End of Errai exclusions -->
  </scan>
</beans>
