<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/beans_4_0.xsd" bean-discovery-mode="all" version="4.0">
  <scan>
    <!-- These exclusions were added by Errai to avoid deploying client-side classes to the server -->
    <exclude name = "org.jboss.errai.jsinterop.demo.client.local.IpsumListDisplay" />
    <exclude name = "org.jboss.errai.jsinterop.demo.client.local.AppSetup" />
    <exclude name = "org.jboss.errai.jsinterop.demo.client.local.IpsumService" />
    <exclude name = "org.jboss.errai.jsinterop.demo.client.local.IpsumDescriptorDisplay" />
    <exclude name = "org.jboss.errai.jsinterop.demo.client.local.LoremIpsumGenerator" />
    <exclude name = "org.jboss.errai.jsinterop.demo.client.local.IpsumServiceImpl" />
    <exclude name = "org.jboss.errai.jsinterop.demo.client.local.IpsumDescriptor" />
    <!-- End of Errai exclusions -->
  </scan>
</beans>
