div.item {
    width: 100%;
    height: auto;
}

div.item hr {
    clear: both;
    margin: 0px;
}

div.item div.name {
	font-weight: bold;
	font-size: 12pt;
}

div.item div.comment {
    font-size: 8pt;
    text-align: left;
    float: left;
    padding-left: 1.5em;
    color: #999;
}

div.item div.moreInfo {
    font-size: 8pt;
    text-align: right;
    float: right;
    color: #ccc;
}

div.item div.department {
    color: #999;
}

div.item.active {
    background: #fafafa;
}