body {
	background-color: #777;
	font-family: helvetica, sans-serif;
}

.footer {
	color: #eee;
	margin-top: 40px;
}

.footer a {
	color: #f60;
	text-decoration: none;
	font-weight: bold;
}

h1 {
	color: #f60;
	font-size: 60px;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

div.mainContentArea {
	margin: auto;
	border: 20px solid #fff;
	box-shadow: 5px 5px 7px #333;
	border-radius: 15px;
	background-color: #fff;
	width: 600px;
    text-align: center;
}

div.mainContentArea>input {
	font-size: 40px;
	width: 100%;
	margin-bottom: 20px;
}

.itemsContainer {
	width: 100%;
}

div.shared {
    border: 1px solid #a3a3a3;
    margin-top: 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding-bottom: 20px;
}
legend {
    margin: -18px auto auto;
    background-color: white;
    padding: 10px;
}

div.item {
	width: 100%;
	font-size: 35px;
	text-align: left;
	margin-top: 10px;
	border-bottom: 1px solid #eee;
	margin-bottom: 7px;
}

div.item input, div.item span.gwt-CheckBox {
	width: 20px;
	height: 32px;
	margin-left: 5px;
	vertical-align: top;
}

div.item span {
	width: 85%;
	display: inline-block;
	margin-left: 6px;
}

div.item .done {
	text-decoration: line-through;
	color: #aaa;
}

div.mainContentArea button {
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
}

div.signupForm, div.loginForm {
	margin: auto;
	border: 20px solid #fff;
	box-shadow: 5px 5px 7px #333;
	border-radius: 15px;
	background-color: #fff;
	width: 600px;
	text-align: left;
}

div.signupForm label {
	display: block;
	padding-top: 1em;
	color: #333;
}

div.signupForm input {
	margin-left: 50px;
	margin-top: 9px;
	width: 400px;
	font-size: 20px;
}

div.signupForm button {
	display: block;
	margin: auto;
	margin-top: 1em;
	margin-bottom: .5em;
	font-size: 20px;
}

div.loginForm button {
	display: block;
	margin: auto;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	font-size: 20px;
}

div.loginForm input {
	display: block;
	margin: auto;
	margin-top: 15px;
	width: 500px;
	font-size: 20px;
}

div.loginForm p {
	text-align: center;
}

.error {
	color: #f00;
}

a {
    color: #0088cc;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #005580;
    text-decoration: underline;
}

/* Don't forget the phones! */
@media only screen and (max-width: 600px) , only screen and (max-device-width: 600px) {
	body {
		margin: 0px;
	}
	h1 {
		text-align: left;
		font-size: 80px;
		margin-left: 10px;
	}
	div.mainContentArea, div.signupForm, div.loginForm {
		width: 100%;
		border: none;
		box-shadow: none;
		border-radius: 0px;
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 5px;
		padding-bottom: 20px;
}
	div.mainContentArea>input {
		font-size: 80px;
		margin-bottom: 15px;
	}
	div.item span {
		font-size: 60px;
	}
}