<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://java.sun.com/xml/ns/javaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/beans_1_0.xsd">
  <scan>
    <!-- These exclusions were added by Errai to avoid deploying client-side classes to the server -->
    <exclude name = "org.jboss.errai.demo.mobile.client.local.ClientMain" />
    <exclude name = "org.jboss.errai.demo.mobile.client.local.WelcomeDialog$WelcomeDialogUiBinder" />
    <exclude name = "org.jboss.errai.demo.mobile.client.local.WelcomeDialog" />
    <exclude name = "org.jboss.errai.demo.mobile.client.local.ClientMain$2" />
    <exclude name = "org.jboss.errai.demo.mobile.client.local.ClientMain$1" />
    <exclude name = "org.jboss.errai.demo.mobile.client.local.PerspectiveAnimator" />
    <!-- End of Errai exclusions -->
  </scan>
</beans>
