<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="https://jakarta.ee/xml/ns/jakartaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/beans_4_0.xsd" bean-discovery-mode="all" version="4.0">
  <scan>
    <!-- These exclusions were added by Errai to avoid deploying client-side classes to the server -->
    <exclude name = "org.jboss.errai.demo.mobile.client.local.ClientMain" />
    <exclude name = "org.jboss.errai.demo.mobile.client.local.WelcomeDialog$WelcomeDialogUiBinder" />
    <exclude name = "org.jboss.errai.demo.mobile.client.local.WelcomeDialog" />
    <exclude name = "org.jboss.errai.demo.mobile.client.local.ClientMain$2" />
    <exclude name = "org.jboss.errai.demo.mobile.client.local.ClientMain$1" />
    <exclude name = "org.jboss.errai.demo.mobile.client.local.PerspectiveAnimator" />
    <!-- End of Errai exclusions -->
  </scan>
</beans>
