<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee">
  <scan>
    <!-- These exclusions were added by Errai to avoid deploying client-side classes to the server -->
    <exclude name = "org.jboss.errai.samples.restdemo.client.local.App$6" />
    <exclude name = "org.jboss.errai.samples.restdemo.client.local.App$7" />
    <exclude name = "org.jboss.errai.samples.restdemo.client.local.App$3" />
    <exclude name = "org.jboss.errai.samples.restdemo.client.local.CustomerServiceExceptionMapper" />
    <exclude name = "org.jboss.errai.samples.restdemo.client.local.App$5$2" />
    <exclude name = "org.jboss.errai.samples.restdemo.client.local.App$5" />
    <exclude name = "org.jboss.errai.samples.restdemo.client.local.App$1" />
    <exclude name = "org.jboss.errai.samples.restdemo.client.local.App$8" />
    <exclude name = "org.jboss.errai.samples.restdemo.client.local.App" />
    <exclude name = "org.jboss.errai.samples.restdemo.client.local.App$5$1" />
    <exclude name = "org.jboss.errai.samples.restdemo.client.local.App$1$1" />
    <exclude name = "org.jboss.errai.samples.restdemo.client.local.App$4" />
    <exclude name = "org.jboss.errai.samples.restdemo.client.local.App$2" />
    <!-- End of Errai exclusions -->
  </scan>
</beans>