<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
		 version="2.5">

	<context-param>
		<param-name>resteasy.scan</param-name>
		<param-value>true</param-value>
	</context-param>

	<filter>
		<filter-name>Resteasy</filter-name>
		<filter-class>org.jboss.resteasy.plugins.server.servlet.FilterDispatcher</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>Resteasy</filter-name>
		<url-pattern>/rest/*</url-pattern>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>RestDemo.html</welcome-file>
	</welcome-file-list>
</web-app>
