
body {
    background-color: #ffffff;
    color: black;
    font-family: Arial, sans-serif;
    font-size: small;
    margin: 8px;
}

.formLabel {
	font-size: smaller;
}

.error {
	color: red;
}

.bigcounter {
	font-size: 50pt;
}

.resultsPanel, .resultsPanel div {
    color: #fff;
}

.resultsPanel {
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	
	background: rgb(0,108,204); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(0,108,204,1) 0%, rgba(0,101,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,108,204,1)), color-stop(100%,rgba(0,101,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,108,204,1) 0%,rgba(0,101,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,108,204,1) 0%,rgba(0,101,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,108,204,1) 0%,rgba(0,101,255,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(0,108,204,1) 0%,rgba(0,101,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006ccc', endColorstr='#0065ff',GradientType=0 ); /* IE6-9 */

	padding: 10px;
	margin: 3px;
}

.resultsPanel .summary {
	margin-top: 6px;
}