<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee">
  <scan>
    <!-- These exclusions were added by Errai to avoid deploying client-side classes to the server -->
    <exclude name = "org.jboss.errai.demo.grocery.client.local.GroceryListWidget$SortBy$3" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.GroceryItemWidget" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.GroceryListWidget" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.DepartmentList$1" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.GroceryListWidget$SortBy$1" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.LanguageItem$1" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.StorePage$3" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.ItemListPage$1" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.Form$1$1" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.StorePage$2$3$1" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.DepartmentList$5" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.StorePage" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.StoreListItem" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.WelcomePage" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.ValueListBoxProducer" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.producer.StoreListProducer$StoreListener" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.producer.UserProducer" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.producer.GroceryListProducer" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.producer.StoreListProducer$2" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.producer.StoreListProducer$1" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.producer.StoreListProducer$StoreChangedEvent" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.producer.DepartmentWidgetProvider" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.producer.StoreListProducer" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.PopoverContainer" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.DepartmentWidget" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.DepartmentList" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.StorePage$2$1" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.Form$1" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.Footer" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.map.LocationProvider$1$1" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.map.LocationProvider$2" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.map.GoogleMapBootstrapper$1" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.map.LocationProvider" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.map.LocationProvider$LocationCallback" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.map.LocationProvider$1" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.map.GoogleMapBootstrapper" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.map.LocationProvider$2$1" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.SortWidget" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.ItemForm$1$1" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.StorePage$2$3" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.Config" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.ItemEditNotifier" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.ItemForm" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.LanguageItem" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.DepartmentList$ItemMoveAnimation" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.EditForm" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.GroceryListWidget$SortBy" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.StorePage$1" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.StorePage$2$2" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.GroceryListClient" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.DepartmentList$2" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.ItemForm$1" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.Form$2" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.NavBar" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.StoreWidget" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.GroceryListWidget$ItemStoreDistanceComparator" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.Form" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.GroceryListWidget$SortBy$2" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.StoresPage" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.StorePage$2" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.StoreWidget$2" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.EditForm$1" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.ItemListPage" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.DepartmentList$3" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.convert.RelativeTimeConverter" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.convert.UsernameConverter" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.DepartmentList$4" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.StoreListItem$1" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.StoreWidget$1" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.StoreWidget$4" />
    <exclude name = "org.jboss.errai.demo.grocery.client.local.StoreWidget$3" />
    <!-- End of Errai exclusions -->
  </scan>
</beans>