<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
      http://java.sun.com/xml/ns/javaee/beans_1_0.xsd">
  <interceptors>
    <class>org.jboss.errai.security.server.ServerSecurityRoleInterceptor</class>
  </interceptors>
  <scan>
    <!-- These exclusions were added by Errai to avoid deploying client-side classes to the server -->
    <exclude name = "org.jboss.errai.security.demo.client.local.AdminPage" />
    <exclude name = "org.jboss.errai.security.demo.client.local.App" />
    <exclude name = "org.jboss.errai.security.demo.client.local.Keycloak" />
    <exclude name = "org.jboss.errai.security.demo.client.local.KeycloakActivator$1" />
    <exclude name = "org.jboss.errai.security.demo.client.local.KeycloakActivator" />
    <exclude name = "org.jboss.errai.security.demo.client.local.LoginForm$1" />
    <exclude name = "org.jboss.errai.security.demo.client.local.LoginForm$2" />
    <exclude name = "org.jboss.errai.security.demo.client.local.LoginForm$3" />
    <exclude name = "org.jboss.errai.security.demo.client.local.LoginForm" />
    <exclude name = "org.jboss.errai.security.demo.client.local.Messages$1$1" />
    <exclude name = "org.jboss.errai.security.demo.client.local.Messages$1" />
    <exclude name = "org.jboss.errai.security.demo.client.local.Messages$2" />
    <exclude name = "org.jboss.errai.security.demo.client.local.Messages$3$1" />
    <exclude name = "org.jboss.errai.security.demo.client.local.Messages$3" />
    <exclude name = "org.jboss.errai.security.demo.client.local.Messages" />
    <exclude name = "org.jboss.errai.security.demo.client.local.NavBar" />
    <exclude name = "org.jboss.errai.security.demo.client.local.NavigationWrapper" />
    <exclude name = "org.jboss.errai.security.demo.client.local.SecurityErrorPage" />
    <exclude name = "org.jboss.errai.security.demo.client.local.WelcomePage$1" />
    <exclude name = "org.jboss.errai.security.demo.client.local.WelcomePage$2" />
    <exclude name = "org.jboss.errai.security.demo.client.local.WelcomePage" />
    <!-- End of Errai exclusions -->
  </scan>
</beans>
