<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
   <!-- This is inherited from the web-fragment.xml in errai-javaee-all -->
  <!--<servlet>-->
    <!--<servlet-name>ErraiServlet</servlet-name>-->
    <!--<servlet-class>org.jboss.errai.bus.server.servlet.DefaultBlockingServlet</servlet-class>-->
    <!--<init-param>-->
      <!--<param-name>auto-discover-services</param-name>-->
      <!--<param-value>false</param-value>-->
    <!--</init-param>-->
    <!--<load-on-startup>1</load-on-startup>-->
  <!--</servlet>-->

  <!--<servlet-mapping>-->
    <!--<servlet-name>ErraiServlet</servlet-name>-->
    <!--<url-pattern>*.erraiBus</url-pattern>-->
  <!--</servlet-mapping>-->
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <!--  This error page rule responds with the GWT Host page for pushstate Errai Navigation URLs -->
  <error-page>
    <error-code>404</error-code>
    <location>/</location>
  </error-page>
  
  <filter>
    <filter-name>ErraiLoginRedirectFilter</filter-name>
    <init-param>
      <param-name>redirectLocation</param-name>
      <param-value>/index.jsp</param-value>
    </init-param>
  </filter>

  <servlet-mapping>
    <servlet-name>javax.ws.rs.core.Application</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>

  <filter-mapping>
    <filter-name>ErraiUserHostPageFilter</filter-name>
    <url-pattern>/index.jsp</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>ErraiLoginRedirectFilter</filter-name>
    <url-pattern>/app-login</url-pattern>
  </filter-mapping>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Login</web-resource-name>
      <url-pattern>/app-login</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>

<!-- Uncomment the login-config if you are using a Keycloak server -->
   <!--<login-config>-->
     <!--<auth-method>KEYCLOAK</auth-method>-->
     <!--<realm-name>demo</realm-name>-->
   <!--</login-config>-->

  <security-role>
    <role-name>user</role-name>
  </security-role>
  <security-role>
    <role-name>admin</role-name>
  </security-role>
</web-app>
