/*
 * Debugging styles
 */
 .gwt-DialogBox {
 	z-index: 10000;
 }

/*
 * Application styles
 */
.NOT_STARTED {
	background-color: #AAAAAA;
	color: #FFFFFF;
}

.IMPEDED {
	background-color: #C43C35;
	color: #FFFFFF;
}

.IN_PROGRESS {
	background-color: #339BB9;
	color: #FFFFFF;
}

.DONE {
	background-color: #57A957;
	color: #FFFFFF;
}

.PENDING {
	background-color: #339BB9;
	color: #FFFFFF;
}

.ACCEPTED {
	background-color: #57A957;
	color: #FFFFFF;
}

body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.box {
	background: none repeat scroll 0 0 #FEFBF3;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	padding: 9px;
}

.clickable .box:hover {
	background: none repeat scroll 0 0 #FFFDF9;
	border: 1px solid rgba(82, 168, 236, 0.6);
}

.box *:last-child {
	margin-bottom: 0;
}

.clickable {
	cursor: pointer;	
}

.sidebar-nav {
	padding: 9px 0;
}

ul.plain {
	list-style: none outside none;
	margin: 0;
}

.welcome {
	position: relative;
	top: -20px;
	width: 100%;
	background-color: #FFF5E3;
	margin-bottom: 10px;
	width: 100%;
}

.project-title {
	font-size: 16px;
}

/* Iteration List */
.iteration-list a {
	color: #ffffff;
	text-align: center;
	font-weight: bold;
	width: 100%;
}

.iteration-list a:hover {
	opacity: .5;
}

.iteration-list a {
	width: 60px;
	display: block;
	text-align: center;
	height: 18px;
	padding: 0;
	font-size: 12px;
	line-height: 18px;
}

.iteration-list div.percent {
	margin-right: 2px;
}

/* Story List */