<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee       http://java.sun.com/xml/ns/javaee/beans_1_0.xsd">

<interceptors>
<class>org.jboss.errai.security.server.ServerSecurityRoleInterceptor</class>
</interceptors>
  <scan>
    <!-- These exclusions were added by Errai to avoid deploying client-side classes to the server -->
    <exclude name = "org.jboss.errai.demo.todo.client.local.TodoListPage" />
    <exclude name = "org.jboss.errai.demo.todo.client.local.SharePage$2" />
    <exclude name = "org.jboss.errai.demo.todo.client.local.SharePage$1" />
    <exclude name = "org.jboss.errai.demo.todo.client.local.LoginPage$2" />
    <exclude name = "org.jboss.errai.demo.todo.client.local.BaseTodoItemWidget$1" />
    <exclude name = "org.jboss.errai.demo.todo.client.local.shadow.SignupServiceShadow" />
    <exclude name = "org.jboss.errai.demo.todo.client.local.shadow.TempUser" />
    <exclude name = "org.jboss.errai.demo.todo.client.local.shadow.SignupServiceShadow$1" />
    <exclude name = "org.jboss.errai.demo.todo.client.local.SignupPage$2" />
    <exclude name = "org.jboss.errai.demo.todo.client.local.SharedListWidget" />
    <exclude name = "org.jboss.errai.demo.todo.client.local.FooterPanel" />
    <exclude name = "org.jboss.errai.demo.todo.client.local.LockedTodoItemWidget" />
    <exclude name = "org.jboss.errai.demo.todo.client.local.SignupPage" />
    <exclude name = "org.jboss.errai.demo.todo.client.local.ClientEntryPoint" />
    <exclude name = "org.jboss.errai.demo.todo.client.local.TodoItemWidget" />
    <exclude name = "org.jboss.errai.demo.todo.client.local.TodoListPage$2" />
    <exclude name = "org.jboss.errai.demo.todo.client.local.BaseTodoItemWidget" />
    <exclude name = "org.jboss.errai.demo.todo.client.local.TodoListPage$1$1" />
    <exclude name = "org.jboss.errai.demo.todo.client.local.LoginPage$1" />
    <exclude name = "org.jboss.errai.demo.todo.client.local.TodoListPage$3" />
    <exclude name = "org.jboss.errai.demo.todo.client.local.SharePage" />
    <exclude name = "org.jboss.errai.demo.todo.client.local.SignupPage$1" />
    <exclude name = "org.jboss.errai.demo.todo.client.local.intercept.SignupServiceInterceptor" />
    <exclude name = "org.jboss.errai.demo.todo.client.local.intercept.SignupServiceInterceptor$1" />
    <exclude name = "org.jboss.errai.demo.todo.client.local.TodoListPage$1" />
    <exclude name = "org.jboss.errai.demo.todo.client.local.LoginPage" />
    <!-- End of Errai exclusions -->

    <exclude name = "org.jboss.errai.validation.client.shared.GwtCompatibleEmailValidator" />  </scan>
</beans>
