<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee">
  <scan>
    <!-- These exclusions were added by Errai to avoid deploying client-side classes to the server -->
    <exclude name = "org.jboss.errai.demo.jpa.client.local.AlbumTable$1" />
    <exclude name = "org.jboss.errai.demo.jpa.client.local.AlbumForm$1" />
    <exclude name = "org.jboss.errai.demo.jpa.client.local.MonthAndYearSelector$3" />
    <exclude name = "org.jboss.errai.demo.jpa.client.local.ArtistForm$1" />
    <exclude name = "org.jboss.errai.demo.jpa.client.local.Main$3" />
    <exclude name = "org.jboss.errai.demo.jpa.client.local.Main$5$1" />
    <exclude name = "org.jboss.errai.demo.jpa.client.local.Main$1" />
    <exclude name = "org.jboss.errai.demo.jpa.client.local.Main$2" />
    <exclude name = "org.jboss.errai.demo.jpa.client.local.AlbumTable" />
    <exclude name = "org.jboss.errai.demo.jpa.client.local.MonthAndYearSelector$2" />
    <exclude name = "org.jboss.errai.demo.jpa.client.local.Main$5" />
    <exclude name = "org.jboss.errai.demo.jpa.client.local.Main" />
    <exclude name = "org.jboss.errai.demo.jpa.client.local.Main$2$1" />
    <exclude name = "org.jboss.errai.demo.jpa.client.local.RowOperationHandler" />
    <exclude name = "org.jboss.errai.demo.jpa.client.local.AlbumTable$2" />
    <exclude name = "org.jboss.errai.demo.jpa.client.local.DatePickerWithYearSelector" />
    <exclude name = "org.jboss.errai.demo.jpa.client.local.MonthAndYearSelector" />
    <exclude name = "org.jboss.errai.demo.jpa.client.local.Main$4$1" />
    <exclude name = "org.jboss.errai.demo.jpa.client.local.MonthAndYearSelector$1" />
    <exclude name = "org.jboss.errai.demo.jpa.client.local.ArtistForm" />
    <exclude name = "org.jboss.errai.demo.jpa.client.local.AlbumForm" />
    <exclude name = "org.jboss.errai.demo.jpa.client.local.Main$4" />
    <exclude name = "org.jboss.errai.demo.jpa.client.local.MonthAndYearSelector$4" />
    <!-- End of Errai exclusions -->
  </scan>
</beans>