body {
	background: #323232 url(images/grey_tile.png) repeat-x;
}

.cloud {
	background-color: #A60000;
	font-family: Georgia, Palatino, serif !important;
	text-align: center;
	margin: 50px auto;
	padding: 10px;
	width: 50%;
	overflow: hidden;
	line-height: 18pt;
}

.tag {
	color: #FFFFFF;
	float: left;
	padding: 10px;
	text-decoration: none;
	overflow: visible;
}

.tag-adult {
	color: #AEAEAF;
}

.tag-senior {
	color: #000000;	
}

.tag-winner {
	color: #FFD700;	
}

.tag-vertical {
     -moz-transform: rotate(270deg);  /* FF3.5+ 
       -o-transform: rotate(270deg);  /* Opera 10.5 
  -webkit-transform: rotate(270deg);  /* Saf3.1+, Chrome 
      -ms-transform: rotate(270deg);  /* IE9 
          transform: rotate(270deg);  
             filter: progid:DXImageTransform.Microsoft.Matrix(/* IE6ÐIE9  
                     M11=0.0, M12=-1.0,M21=1.0, M22=0.0, sizingMethod='auto expand');
               zoom: 1;
}