errai-jaxrs-client/war/WEB-INF/deploy
errai-jaxrs-client/war/WEB-INF/classes
errai-jaxrs-client/war/org.jboss.errai.enterprise.jaxrs.TestModule.JUnit
.idea/*
.classpath
.settings
.project
.metadata/*
*.iml
target/
