@CHARSET "UTF-8";

HTML { /* Workaround for GWT issue 1932 */
  margin: 0px !important;
  border: none !important;
}

.dragdrop-handle {
  cursor: move;
  user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
}

.dragdrop-draggable {
  zoom: 1; /* IE gain hasLayout */
}

.dragdrop-dragging {
  zoom: normal; /* remove artifacts */
}

.dragdrop-positioner {
  border: 1px dashed #1E90FF; /* blue */
  margin: 0px !important;
  zoom: 1; /* IE gain hasLayout */
  z-index: 100;
}

.dragdrop-flow-panel-positioner {
  color: #1E90FF; /* blue */
  display: inline;
  text-align: center;
  vertical-align: middle;
}

.dragdrop-proxy {
  background-color: #77AAFF; /* light blue */
}
.dragdrop-selected,.dragdrop-dragging,.dragdrop-proxy {
  filter: alpha(opacity = 30);
  opacity: 0.3;
}

.dragdrop-movable-panel {
  z-index: 200;
  margin: 0px !important;
  border: none !important;
}
